/* CSS declarations go here */

@import 'nib'
@import 'jeet'


/* VARIABLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Colors
text-color = #222
border-color = #ededed
border-color-darken = darken(border-color, 5%)
border-color-lighten = lighten(border-color, 5%)
link-more-color = dodgerblue
link-hover-color = darken(link-more-color, 20%)
theme-color = red
alt-theme-color = steelblue

// Breakpoints
breakpoint-xs-width = 450px
breakpoint-sm-width = 600px
breakpoint-md-width = 800px
breakpoint-lg-width = 960px

/* MIXINS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

style-header()
  padding 12px
  text-transform uppercase
  border-bottom 1px dashed border-color-darken



/* DEFAULT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

*
  padding 0
  margin 0
  box-sizing border-box
  line-height 1.5
  font-family: 'Ubuntu', sans-serif;

section
  clearfix()
  margin-bottom 40px

  &:last-child
    margin-bottom 0

h2
  margin-bottom 20px

a
  text-decoration none

p
  padding 10px
  margin-bottom 5px

img
  max-width 100%

ol, ul
  padding 48px

li
  padding 12px
  &:nth-last-child(n+2)
    border-bottom 1px solid #eee

.button-submit
  background theme-color
  color #eee
  border none
  border-radius: 5px;



/* CHART STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
svg
  font-size 10px

.bar
  fill theme-color
  &:hover
    fill alt-theme-color
  shape-rendering crispEdges

.axis path, .axis line
  fill none
  stroke #000
  shape-rendering crispEdges



/* WRAPPER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper
  text-align center
  margin-top 40px
  center(960px)



/* SECTION DESCRIPTION STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.description
  div
    padding 20px
  .how-to
    background theme-color
    color white
  li, p
    text-align justify
  .card
    display inline-block
    padding 10px 10px 10px 10px
    margin 10px 10px 10px 10px
    height 40px
    width 40px
    border-radius 5px
    background black
    border white


/* SECTION.SIMULATION STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.simulation
  h3
    style-header()

  ul
    padding 0px
    list-style none

  .content
    height 420px
    position relative

  form
    display inline-block
    absolute left 50% top 50%
    transform translate3d(-50%, -50%, 0)

    input
      height 40px
      padding 5px 8px

    label
      width 80px
      margin-top 3px
      display inline-block
      padding 3px

    .form-input
      width 100px

    .button-submit
      width 195px

  div
    margin-bottom 10px
    border 2px solid border-color-darken

    p
      line-height 1.7
      padding 15px



/* MQ-XS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: breakpoint-xs-width) {
}



/* MQ-SM STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: breakpoint-sm-width)
  .simulation div
    col(1/2)



/* MQ-MD STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: breakpoint-md-width) {
}



/* MQ-LG STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: breakpoint-lg-width) {
}
